---
# autoclean [int] - Number of days to keep old backups
# set to 0 to disable
autoclean: 7
# Local directory to store backups
localStore: /path/to/backups
# Remote storage via AmazonS3
# To disable, just set enabled to false, or just remove all connection info
remoteStore:
    enabled: true
    awsKey: YOURAWSKEY
    awsSecret: YOURAWSSECRETKEY
    awsBucket: yourbucketname
# A list of local directories to backup
localFiles:
  - /path/to/dir1
  - /path/to/dir2
# A list of database connections and associated databases to dump [currently
# only supports MySQL, use localFiles directive to backup SQLite]
localDatabases:
  - 
    username: username
    password: mysuperpassword
    databases:
      - somedatabase
      - anotherdatabase
  - 
    username: anotherusername
    password: mysuperpassword
    databases:
      - somedatabase
      - anotherdatabase
